

<div class="material-use-index-name"><%= @material_use.name %></div>
<div class="material-use-index-units">Units: <%= @material_use.units %></div>

<div class="edit-back">
  <%= link_to 'Edit', edit_material_use_path(@material_use) %> |
  <%= link_to 'Back', material_uses_path %>
</div>
