.profile-img-padding{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.dashboard-names{
  @include span-columns(12);
  padding: 0em 1em 0em 1em;
}

.dashboard-block{

}

.dashboard-column > a{
  text-decoration: none;
  font-size: .7em;
  color: #5D5D5D;
  padding-left: 1em;
}

.dashboard-block-3 {
  @include span-columns(4);
  @include omega(5n);
}

.dashboard-block-5 {
  @include span-columns(2);
  @include omega(3n);
}

.dashboard-column{
  @include span-columns(12);
  padding: 0em;
  border-bottom: .1em solid #C9C9C9;
}

.dashboard-right{
  @include span-columns(9);
  @include omega;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.dashboard-goals{
  margin-top: 5%;
  border-top: .1em solid white;
}

.progress-meter .background {
  fill: #354652;
}

.progress-meter .foreground {
  fill: #6CCD61;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
