// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sales-index-name{
  @include span-columns(12);
  @include omega();
  font-size: 260%;
}

.sales-index-gross{
  @include span-columns(4);
}

.sales-index-net{
}
.sales-index-date{
  @include span-columns(8);
}

.sales-index-edit{
  @include span-columns(12);
}

.show-sale-gross{
  @include span-columns(6);
}

.show-sale-date{
  @include span-columns(6);
}
.edit-back{
  @include span-columns(12);
}

h1 {
  font-family: American Typewriter;
  font-size: 35pt;
}

.sales-index-edit {
  a {
    color: white;
    font-family: American Typewriter;
    font-weight: lighter;
    display: inline-block;
    text-decoration: none;
    margin-right: 3px; margin-top: 3px; margin-bottom: 8px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #333;
  }
}

.sales-index-gross {
  padding-left: 15px;
  font-family: Baskerville;
}

.gd {
  margin-top: 5px; margin-bottom: 5px;
  display: inline-block;
}

.link-to-new-sale {
  a {
    color: white;
    font-family: American Typewriter;
    font-weight: lighter;
    display: inline-block;
    text-decoration: none;
    margin-right: 3px; margin-top: 20px; margin-bottom: 3px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #006300;
    float: right;
  }
}

.sales-index-edit {
  a {
    color: white;
    font-family: American Typewriter;
    font-weight: lighter;
    display: inline-block;
    text-decoration: none;
    margin-right: 3px; margin-top: 3px; margin-bottom: 8px;
    padding: 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: #333;
  }
}
