// Place all the styles related to the time_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-time-entry-start-time{
  @include span-columns(12);
  @include omega();
  font-size: 200%;
}
.index-time-entry-stop-time{
  @include span-columns(12);
  @include omega();
  font-size: 200%;
}
.time-in-words{

}
.index-time-entry-edit{

}

.show-time-entry-project{
  @include span-columns(12);
  @include omega();
  font-size: 260%;
}

.show-time-entry-start-time{
  @include span-columns(12);
  font-size: 80%;
}

.show-time-entry-stop-time{
  @include span-columns(12);
}
.show-time-entry-date{
  font-size: 50%;
}
