<div class="title">Editing Sales Channel</div>

<%= render 'form' %>

<div class="edit-back">
  <%= link_to 'Details', @sales_channel %> |
  <%= link_to 'Back to Sales Channel', sales_channels_path %>
</div>
