
<div class="sales-channel-index-name"><%= @sales_channel.name %></div>

<div class="sales-channel-index-description"><%= @sales_channel.description %></div>

<div class="edit-back">
  <%= link_to 'Edit', edit_sales_channel_path(@sales_channel) %> |
  <%= link_to 'Back', sales_channels_path %>
</div>
